<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="com.github.dustyace.lab6" status="warn">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss.SSS}] %highlight{%5level}{FATAL=bg_red black bold, ERROR=red, WARN=bright_yellow bold, INFO=white, DEBUG=green bold, TRACE=blue}%highlight{: %msg}{FATAL=red bold, ERROR=red, WARN=bright_yellow bold, INFO=white, DEBUG=green bold, TRACE=blue}%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>